@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section, time {
  display: block;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* meyerweb css reset end */

textarea:focus, input:focus {
  outline: 0;
}

input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1; /* ie 6/7 */
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
body {
  min-width: 1272px;
  color: #ac975a;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
body {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%; /* 1366px / 1366px = 100% */
}
.montazhnaya-oblast-1 {
  position: relative;
}
.shapka {
  margin: 0 auto;
  position: relative;
  background: #010103;
}
.l-constrained {
  margin: 0 auto;
  padding: 0 77px;
  position: relative;
  width: 1272px;
}
.katalog {
  float: left;
  margin: 67px 0 0;
  color: #ececec;
  font-size: 28px;
  text-align: center;
}
.magaziny {
  float: left;
  margin: 67px 0 0 122px;
  color: #ececec;
  font-size: 28px;
  text-align: center;
}
.logo {
  float: left;
  margin: 0 0 0 72px;
}
.dostavka {
  float: left;
  margin: 64px 0 0 73px;
  color: #ececec;
  font-size: 28px;
  text-align: center;
}
.text {
  float: left;
  margin: 65px 0 0 121px;
  color: #ececec;
  font-size: 28px;
  text-align: center;
}
.okno-tovara {
  margin: 65px auto 0;
  position: relative;
  width: 1272px;
}
.row-4 {
  left: 10px;
  margin: 0 auto;
  position: relative;
  width: 1252px;
}
.text-2 {
  float: left;
  margin: 0 257px 0 0;
  width: 814px;
  font-size: 70px;
  text-align: center;
}
.otzyvy {
  float: left;
  margin: 10px 0 0;
  width: 181px;
  color: #88816d;
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
}
.artikul {
  margin: 11px 0 0 23px;
  color: #88816d;
  font-size: 50px;
  font-weight: bold;
}
.row-6 {
  left: 12.5px;
  margin: 81px auto 0;
  position: relative;
  width: 1247px;
}
.pryamougolnik-2-kopiya-holder {
  float: left;
  margin: 5px 76px 0 0;
  min-height: 818px;
  padding: 369px 0 419px;
  width: 553px;
  background: url(images/pryamougolnik_2_kopiya.png) no-repeat;
  color: #808080;
  font-size: 31.44181px;
  text-align: center;
}
.col-6 {
  float: left;
  position: relative;
  width: 618px;
}
.harakteristika-inf {
  position: relative;
}
.informaciya {
  font-weight: bold;
}
.harakteristika {
  margin: 243px 0 0;
  font-weight: bold;
  text-align: left;
}
.row-7 {
  left: 8.5px;
  margin: 253px auto 0;
  position: relative;
  width: 601px;
}
.pryamougolnik-2-kopiya-holder-2 {
  float: left;
  min-height: 238px;
  width: 255px;
  background: url(images/pryamougolnik_2_kopiya_2.png) no-repeat;
  color: #808080;
  font-size: 31.44181px;
  line-height: 238px;
  text-align: center;
}
.pryamougolnik-2-kopiya-2-holder {
  float: right;
  min-height: 238px;
  padding: 0 0 0 7px;
  width: 255px;
  background: url(images/pryamougolnik_2_kopiya_2.png) no-repeat;
  color: #808080;
  font-size: 31.44181px;
  line-height: 238px;
  text-align: center;
}
.row-8 {
  left: 12px;
  margin: 131px auto 0;
  position: relative;
  width: 1248px;
}
.row-8 > * {
  float: left;
  margin: 0 110.3px 0 0;
}
.row-8 > *:last-child {
  margin-right: 0 !important;
}
.text-6 {
  width: 315px;
  line-height: 1.2;
}
.row {
  min-height: 114px;
  position: relative;
  width: 461px;
  border: 4px solid #ac975a; /*stroke*/
  -webkit-border-radius: 43.58px;
  -moz-border-radius: 43.58px;
  border-radius: 43.58px;
  margin-top: 25px !important;
}
.knopka-1-holder {
  float: left;
  margin: -4px 30px 0 -4px;
  min-height: 114px;
  width: 246px;
  border: 4px solid #ac975a; /*stroke*/
  -webkit-border-radius: 43.58px;
  -moz-border-radius: 43.58px;
  border-radius: 43.58px;
  background: #ac975a;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #ffffff;
  font-size: 58.88106px;
  font-weight: bold;
  line-height: 114px;
  text-align: center;
}
.text-8 {
  float: left;
  margin: 24px 0 0;
  width: 126px;
  font-size: 56.23504px;
  text-align: center;
}
.dostavka-2 {
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 16px !important;
}
.text-9 {
  margin: 135px 0 0 43px;
  font-size: 50px;
  text-decoration: underline;
}
.row-2 {
  left: 12px;
  margin: 55px auto 0;
  position: relative;
  width: 1210px;
}
.row-2 > * {
  float: left;
  margin: 0 95px 0 0;
}
.row-2 > *:last-child {
  margin-right: 0 !important;
}
.pryamougolnik-2-kopiya-3-holder {
  min-height: 360px;
  width: 340px;
  background: url(images/pryamougolnik_2_kopiya_3.png) no-repeat;
  color: #808080;
  font-size: 47.97688px;
  line-height: 360px;
  text-align: center;
}
.pryamougolnik-2-kopiya-3-holder-2 {
  max-width: 340px;
  min-height: 360px;
  padding: 0 0 0 12px;
  width: 340px;
  background: url(images/pryamougolnik_2_kopiya_3.png) no-repeat;
  color: #808080;
  font-size: 47.97688px;
  line-height: 360px;
  text-align: center;
}
.pryamougolnik-2-kopiya-4-holder {
  min-height: 360px;
  padding: 0 0 0 12px;
  width: 340px;
  background: url(images/pryamougolnik_2_kopiya_3.png) no-repeat;
  color: #808080;
  font-size: 47.97688px;
  line-height: 360px;
  text-align: center;
  margin-top: 4px !important;
}
.podval {
  margin: 106px auto 0;
  padding: 48px 0 125px;
  position: relative;
  border-bottom: 1px solid #000000; /*stroke*/
  border-top: 1px solid #000000; /*stroke*/
  background: #010103;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.l-constrained-2 {
  margin: 0 auto;
  padding: 0 7px;
  position: relative;
  width: 1272px;
}
.col {
  float: left;
  position: relative;
  width: 574px;
}
.text-13 {
  margin: 0 0 0 4px;
  font-weight: bold;
}
.karta-holder {
  margin: 30px 0 0;
  min-height: 447px;
  padding: 210px 0 191px 10px;
  position: relative;
  width: 574px;
  border: 1px solid #000000; /*stroke*/
  background: #fefefe;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
}
.karta {
  text-align: center;
}
.karta > * {
  color: #808080;
  text-align: center;
}
.col-2 {
  float: left;
  margin: 4px 0 0 25px;
  position: relative;
  width: 314px;
}
.kontakty {
  font-weight: bold;
}
.nomer {
  margin: 68px 0 0 32px;
  color: #9b9b9b;
  font-size: 30px;
  text-align: left;
}
.text-14 {
  margin: 61px 0 0;
  color: #9b9b9b;
  font-size: 30px;
  text-align: right;
}
.pochta {
  margin: 54px 0 0 38px;
  color: #9b9b9b;
  font-size: 30px;
  text-align: left;
}
.text-15 {
  margin: 50px 0 0 36px;
  color: #9b9b9b;
  font-size: 30px;
  text-align: left;
}
.text-16 {
  margin: 51px 0 0 35px;
  color: #9b9b9b;
  font-size: 30px;
  text-align: left;
}
.knopka-nazad-holder {
  float: right;
  margin: 402px 16px 0 0;
  min-height: 130px;
  width: 130px;
  border: 1px solid #000000; /*stroke*/
  -webkit-border-radius: 65px;
  -moz-border-radius: 65px;
  border-radius: 65px;
  background: #ac975a;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /*Will not allow bg color to leak outside borders*/
  color: #ffffff;
  font-size: 30px;
  line-height: 130px;
  text-align: center;
}
.text-style {
  font-size: 50px;
  font-weight: bold;
  text-decoration: underline;
}
.fw400 {
  font-weight: normal;
}
